/* Base Tags */
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffdcd1;
    font-size: 1em;
}

/* Layout */
.grid {
    display: flex;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.col-wide {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 90%;
}
.col-full {
    width: 100%;
    max-width: 100% !important;
    padding-top: 5%;
    padding-bottom: 2%;
    max-height: 20%;
}
.row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

/* Header */
.header {
    background-color: #ffb0be;
    height: 100px;
}
.header .row {
    align-items: center;
}
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    line-height: 100px;
    font-size: 4em;
    letter-spacing: 7px;
}

/* Navbar */
.nav {
    background-color: #ffb0be;
}
.nav ul {
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
}
.nav li {
    height: 100%;
    width: 25%;
    text-align: center;
    line-height: 50px;
    font-size: 1.3em;
}
.nav-button {
    height: 100%;
    width: 100%;
    background-color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
}
.nav li:hover {
    background-color: #ffa3ab;
}
.nav button:active {
    background-color: #ffa3ab;
}

.content {
    opacity: 0;
    transition: opacity .25s linear;
    text-align: center;
}
.content h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 4px;
}
.content hr {
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid grey;
}
.content .row {
    padding-top: 5%;
    padding-bottom: 2%;
    max-height: 20%;
}
.content .col {
    max-width: 40%;
}
.content img {
    object-fit: contain;
    max-width: 100%;
}
.content p {
    padding-top: 20px;
    font-size: 28px;
}

.active {
    background-color: #ffa3ab;
}

.show {
    opacity: 1;
    transition: opacity .25s linear;
}

.hidden {
    display: none;
}

.footer {
    height: 100px;
    padding: 20px 0;
}